* {
    background-color: none;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bg-teal: #20c997;
    --bs-body-bg: none;
    --bs-navbar-nav-link-padding-x: 2rem;
}

header {
    background-color: #b0aef6ee;  /* Light blue color */
    padding: 1rem; /* Add padding */
}

header h1 {
    margin-bottom: 0.5rem; /* Space below the heading */
}

header nav a {
    margin: 0 3rem; /* Space between links */
    color: #0f1a26; /* Bootstrap primary color */
    text-decoration: none; /* Remove underline */
}

header nav a:hover {
    text-decoration: underline; /* Underline on hover */
}

nav {
    padding: 2rem; /* Add padding */
}

h2 {
    padding-bottom: 20px;
}

h3 {
    position: absolute;
    bottom: 0;
}

.material-symbols-outlined {
    font-variation-settings: 
      'FILL' 1, 
      'wght' 400, 
      'GRAD' 0, 
      'opsz' 24; /* Controls the icon's design details */
    
      font-size: 30px !important;
      color: #b3b3b3;
      cursor: pointer;
}

.material-symbols-outlined:hover {
      color: #474747;
}

.trip-block {
    position: relative;
    padding: 15px;
    border: 2px #000000 solid;
    border-radius: 20px;
    height: 100px;
    margin-bottom: 20px;
    border-bottom-left-radius: 0;
    transition: box-shadow border-color 0.3s ease;
}

.trip-block:hover {
    cursor: pointer;
    border: 2px #ffffff solid;
    box-shadow: 5px 5px 20px rgba(177, 177, 177, 0.726);
}

.eventBox {
    display: flex;
    margin-top: 48px;
}

.day-box {
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

.date-box {
    display: flex;
    width: 300px;
}

.info-box {
    display: flex;
    flex-grow: 1;

}

.icon-box {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100px;
}

.title-box {
    width: 200px;
}

.activity-square {
    width: 40%;
    padding-top: 40%; /* Ensures the square's height equals its width */
    background-color: #555555;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.5s ease, filter 0.5s ease;
}

.activity-square:hover {
    animation: shadowColorChange 2s infinite alternate;
}

.activity-square:focus {
    animation: shadowColorChange 2s infinite alternate;
}

@keyframes shadowColorChange {
    0% {
        background-color: rgba(255, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
        filter: brightness(1.2);
    }
    50% {
        background-color: rgba(0, 255, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
        filter: brightness(1.5);
    }
    100% {
        background-color: rgba(0, 0, 255, 0.4);
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.4);
        filter: brightness(1.5);
    }
}

.note-box {
    max-width: 500px;
}

.delete-box {
    display: flex;
    justify-content: end;
    flex-grow: 1;
    padding-left: 20px;
}

#label {
    display: block;
    padding: 1rem; /* Add padding */
}

#align-bottom {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    padding: 0;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-bottom: 48px; */
}

form label {
    display: block;
    /* width: 80px; or any fixed width */
    margin-right: 10px;
}

form input {
    padding-right: 20px;
}

.background{
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    text-align: center;
    justify-content:center;
    animation: animate 20s ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes animate{

    0%,100%{
        background-image: url('./images/Banner/Golden-Gate-Bridge-San-Francisco.jpg.webp');
        background-size: cover;
        background-position: center;
    }
    25%{
        background-image: url(/Users/Kurt/Documents/tripPlanner/images/Banner/hawaii-beach.png.webp);
        background-size: cover;
        background-position: center;
    }
    50%{
        background-image: url(/Users/Kurt/Documents/tripPlanner/images/Banner/Snow-in-Colorado.png);
        background-size: cover;
        background-position: center;
    }
    75%{
        background-image: url(/Users/Kurt/Documents/tripPlanner/images/Banner/View_of_Empire_State_Building_from_Rockefeller_Center_New_York_City_dllu_cropped.jpg);
        background-size: cover;
        background-position: center;

    }
}