.hidden {
    display: none;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bg-teal: #20c997;
    --bs-body-bg:#99eeec;
}

header {
    background-color: #b0aef6ee; /* Light blue color */
    padding: 1rem; /* Add padding */
}

header h1 {
    margin-bottom: 0.5rem; /* Space below the heading */
}

header nav a {
    margin: 0 0.5rem; /* Space between links */
    color: #0f1a26; /* Bootstrap primary color */
    text-decoration: none; /* Remove underline */
}

header nav a:hover {
    text-decoration: underline; /* Underline on hover */
}

nav {
    background-color: #b0aef6ee; /* Light blue color */
    padding: 1rem; /* Add padding */
}

.background{
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    text-align: center;
    justify-content:center;
    animation: animate 20s ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes animate{
    0%,100%{
        background-image: url('./images/Banner/Golden-Gate-Bridge-San-Francisco.jpg.webp');
        background-size: cover;
        background-position: center;
    }
    25%{
        background-image: url(/Users/Kurt/Documents/tripPlanner/images/Banner/hawaii-beach.png.webp);
        background-size: cover;
        background-position: center;
    }
    50%{
        background-image: url(/Users/Kurt/Documents/tripPlanner/images/Banner/Snow-in-Colorado.png);
        background-size: cover;
        background-position: center;
    }
    75%{
        background-image: url(/Users/Kurt/Documents/tripPlanner/images/Banner/View_of_Empire_State_Building_from_Rockefeller_Center_New_York_City_dllu_cropped.jpg);
        background-size: cover;
        background-position: center;

    }
}