* {
    background-color: none;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bg-teal: #20c997;
    --bs-body-bg: none;
    --bs-navbar-nav-link-padding-x: 2rem;
}

header {
    background-color: #b0aef6ee;  /* Light blue color */
    padding: 1rem; /* Add padding */
}

header h1 {
    margin-bottom: 0.5rem; /* Space below the heading */
}

header nav a {
    margin: 0 3rem; /* Space between links */
    color: #0f1a26; /* Bootstrap primary color */
    text-decoration: none; /* Remove underline */
}

header nav a:hover {
    text-decoration: underline; /* Underline on hover */
}

nav {
    padding: 2rem; /* Add padding */
}

h2 {
    padding-bottom: 20px;
}

h3 {
    position: absolute;
    bottom: 0;
}

.trip-block {
    position: relative;
    padding: 15px;
    border: 2px #000000 solid;
    border-radius: 20px;
    height: 100px;
    margin-bottom: 20px;
    border-bottom-left-radius: 0;
}

#label {
    display: block;
    background-color: #b0aef6ee; /* Light blue color */
    padding: 1rem; /* Add padding */
}

.background{
    position: absolute;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    border: 10px solid; 
}
.img-container{
    width: 100%;
    display: flex;
    animation: slide 20s ease-in-out infinite;
    background-size: cover;
}
.wrapper{
    width: 100%;
}
img{
    width: 100%;
}

@keyframes slide{
    0%,100%{
        background-image: url(https://media.9news.com/assets/KUSA/images/7f6e78a1-dd06-48e2-85b2-6e35a08d6832/7f6e78a1-dd06-48e2-85b2-6e35a08d6832_1140x641.jpg);
    }
    25%{
        background-image: url(https://cdn.aarp.net/content/dam/aarp/travel/Domestic/2021/12/1140-oahu-hero.jpg);
    }
    50%{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT78NCXBn45EBPyNn3zfSjQe9kCxwiddFkH2A&s);
    }
    75%{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR1D45iBVsNs0SCKLbS2NwDW_2elEzF74vsQ&s);
    }
}